.DS_Store
*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

config/application.yml
config/database.yml
config/deploy.rb
config/deploy/production.rb
config/deploy/staging.rb

/.bundle
/vendor/bundle
/public/assets/*

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

.powenv
.byebug_history
