<%= link_to 'Create User', new_admin_user_path(), class: 'btn btn-warning' %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Role</th>
      <th>Status</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
<%= paginate @users %>
