<%= link_to 'Create Location', new_location_path(), class: 'btn btn-warning' %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Location Number</th>
      <th>Area Number</th>
      <th>Sequence Number</th>
      <th>Description</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render @locations %>
  </tbody>
</table>
<%= paginate @locations %>
